form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
}

input, textarea {
    border-radius: 10px;
    border-style: solid;
    padding: 7px;
}

input[type="text"] {
    width: 47.5%;
}

textarea {
    resize: none;
}

.form_row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.submit {
    background-color: #219EBC;
    color: white;
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}