footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #023047;
    color: white;
    padding: 30px;
    gap: 20px;
}

.getInTouch {
    font-weight: 500;
}

.socialmedia {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialmedia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}